services:
    db:
        image: postgres:16
        container_name: portfolio_pro_db
        restart: unless-stopped
        environment:
            POSTGRES_DB: portfolio_pro
            POSTGRES_USER: portfolio_user
            POSTGRES_PASSWORD: portfolio_pass
        ports:
            - "5432:5432"
        volumes:
            - pgdata:/var/lib/postgresql/data

volumes:
    pgdata: